<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        @import url("https://fonts.googleapis.com/css?family=Roboto:400,400i,700");

        * {
            box-sizing: border-box;
        }

        body {
            padding: 100px;
            background-color: #b8c6cd;
            background-image: linear-gradient(315deg, #b8c6cd, 0%, #f5f7fa, 100%);
            font-family: 'Poppins', sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
           
            margin: 0;
        }

        .quiz-container {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
            width: 600px;
            max-width: 95vw;
        }

        .quiz-header {
            padding: 4rem;
        }

        h2 {
            padding: 1rem;
            align-items: center;
            margin: 0;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        ul li {
            font-size: 1.2rem;
            margin: 1rem 0;
        }

        ul li label {
            cursor: pointer;
        }

        button , .btn {
            background-color: #8e44ad;
            color: #fff;
            border: none;
            display: block;
            width: 100%;
            cursor: pointer;
            font-size: 1.1rem;
            font-family: inherit;
            padding: 1.3rem;
        }

        button:hover , .btn:hover {
            background-color: #732d91;
        }

        button:focus , .btn:focus {
            outline: none;
            background-color: #5e3370;
        }
        .btn{
            margin-top: 10px;
            text-align: center;
        }
        a{
            text-decoration: none;
        }
    </style>
</head>

<body>
    <form action="quizedata" method="post">
    <div class="quiz-container" id="quiz">
        <div class="quiz-header">
            <h2 id="question">enter your question </h2>
            <input type="text" name="question" id="a" class="answer" />
            <ul>
                
                    <li>
                        <label for="">enter you answer A</label><br>
                        <input type="text" name="answera" id="a" class="answer" />
                    </li>
                    <li>
                        <label for="">enter you answer B</label><br>
                        <input type="text" name="answerb" id="a" class="answer" />
                    </li>
                    <li>
                        <label for="">enter you answer C</label><br>
                        <input type="text" name="answerc" id="a" class="answer" />
                    </li>
                    <li>
                        <label for="">enter you answer D</label><br>
                        <input type="text" name="answerd" id="a" class="answer" />
                    </li>
                    <li>
                        <label for="">enter you correct answer in above option</label><br>
                        <input type="text" name="correct_ans" id="a" class="answer" />
                    </li>
            </ul>
        </div>
        <button id="submit">click here for submit and write your next question and option</button>
        
        <a href="/querypage" class="btn"> Go To your examination page </a>
        <a href="/view" class="btn">Edit Your Question and answers </a>
        
       
    </div>
</form>
    <!-- 
      post do insta: https://www.instagram.com/p/Ch17KHPvCLU/?img_index=3
      -->
</body>

</html>